{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Robbinsdale City Council Meeting</h1>
    <p>{{ agenda_text['date'] }}
    <br>{{ agenda_text['location'] }}
        <br>{{ agenda_text['time'] }} </p>

    {% for jj in agenda_text['sections']: %}
        <p>{{ jj['number'] }}. {{ jj['title'] }}</p>
        {% if 'subitems' in jj %}
            {% for si in jj['subitems'] %}
                &emsp;&emsp;&emsp;&emsp;{{ si['number'] }}. {{ si['title'] }} <br>
                {% if 'subitems' in si %}
            {% for sii in si['subitems'] %}
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ sii['number'] }}. {{ sii['title'] }} <br>
            {% endfor %}
            <p></p>
        {% endif %}
            {% endfor %}
            <p></p>
        {% endif %}
    {% endfor %}

{% endblock %}
