{% extends "base.html" %}
    {% block content %}
        <div class="container bg-primary">
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="users"></i></div>
                                            {{current_user.user_city}} Meeting Info
                                        </h1>
                                        <div class="page-header-subtitle">Manage, View and Process</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">
                        <div class="row">
                            <div class="card mb-4">

                            <div class="card-header">
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Info</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Process Meeting</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Minutes</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Upload Audio</a>
                              </li>
                            </ul>

                            </div>

                            <div class="card-body">
                                <div class="h3">{{ meeting.meeting_type}} - {{ meeting.meeting_date}}</div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Details
                                    </div>
                                    <div class="card-body">
                                        More stuff here
                                    </div>

                                </div>

                                <div class="card mb-4">
                                    <div class="card-header">
                                        Details
                                    </div>
                                    <div class="card-body">
                                        More stuff here
                                    </div>

                                </div>

                            </div>
                        </div>
                        </div>
                    </div>


                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
{% endblock %}