{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
    {% block content %}
        <div class="container bg-primary">
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <main>
                        <div class="container-xl px-4">
                            <div class="container">
                              <!-- Content here -->
                                <div class="row">
                                    <div class="col">  <!-- First Card -->
                                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                                          <div class="card-body">
                                            <h1 class="text-center">{{ current_user.user_city }}&nbsp{{ agenda['meet_type'] }}</h1>
                                                <h4 class="text-center">{{ agenda['location'] }}</h4>
                                                <h4 class="text-center">{{ agenda['date'] }}&nbsp{{ agenda['time'] }}</h4>
                                                <br><br>
                                                {% for each_section in agenda['sections'] %}
                                                    {{ each_section['number'] }}. {{ each_section['title'] }} <br>
                                                    {% if 'subitems' in each_section %}
                                                        {% for each_sub in each_section['subitems'] %}
                                                            &nbsp;&nbsp;&nbsp;{{ each_sub['number'] }}. {{ each_sub['title'] }}<br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </br>
                                                 {% endfor %}
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col">  <!-- second Card -->
                                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                                          <div class="card-body">
                                              <h1 class="text-center">{{ current_user.user_city }}&nbsp{{ agenda['meet_type'] }}</h1>
                                                <h4 class="text-center">{{ agenda['location'] }}</h4>
                                                <h4 class="text-center">{{ agenda['date'] }}&nbsp{{ agenda['time'] }}</h4>
                                                <br><br>
                                              <div class="row">
                                                <table class="table">
                                                    <tbody>
                                                        {{ form.csrf_token }}
                                                        <tr>
                                                            <td> {{ form.meet_type.label }}</td>
                                                            <td> {{ form.meet_type }} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                              </div>
                                                  <br>
                                              <h5>Members Present</h5>
                                              <div class="row">
                                                <table class="table">
                                                    <h5>Members Present</h5>
                                                    <tbody>
                                                        {% for variable_names in member_list_var %}
                                                            <tr>
                                                                    <td>
                                                                        {{ variable_names }}
                                                                    </td>
                                                                    <td> {{ form[variable_names] }}</td>

                                                            </tr>
                                                            {% endfor %}
                                                    </tbody>
                                                </table>
                                              </div>
                                              <h5>Staff Present</h5>
                                              <div class="row">
                                                <table class="table">
                                                    <tbody>
                                                        {% for variable_names in staff_list_var %}
                                                            <tr>
                                                                    <td>
                                                                        {{ variable_names }}
                                                                    </td>
                                                                    <td> {{ form[variable_names] }}</td>

                                                            </tr>
                                                            {% endfor %}
                                                    </tbody>
                                                </table>
                                              </div>




                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </main>
                </div>
            </div>
        </div>
{% endblock %}