{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Create a new meeting</h1>
    meeting type (council, commission)
        lists of meeting types by city
    members of council/commission/staff
    Date/Time
    Agenda upload
        output to editable list of agenda items and topics
        include space for First/Second entry

    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}