{% extends "base.html" %}
    {% block content %}
        <div class="container bg-primary">
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <main>
                        <div class="container-xl px-4">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Basic login form-->
                                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                                        <div class="card-header justify-content-center">
                                            <h3 class="fw-light my-4">Process Agenda</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="bg-white p-5 rounded shadow-sm border">
                                            <!-- Content Here -->
                                                <div class="d-flex justify-content-center">
                                                  <div class="spinner-border" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
{% endblock %}