{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
    {% block content %}
        <div class="container bg-primary">
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <main>
                        <div class="container-xl px-4">
                            <div class="container">
                              <!-- Content here -->
                                <div class="row">
                                    <div class="col-md-5">  <!-- First Card -->
                                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                                          <div class="card-body">
                                              <form action="" method="post" novalidate>
                                                  {{ form.hidden_tag() }}
                                                  <div class="form-group">
                                                    {{ form.meeting_type.label }}
                                                    {{ form.meeting_type }}
                                                  </div>
                                                  <div class="form-group">
                                                    {{ form.content | safe }}
                                                  </div>
                                                  <br>
                                                  <div class="row">
                                                    <div class="col-md-4"> </div>
                                                    <div class="col-md-4"><button type="submit" name='create' class="btn btn-sm btn-primary float-end">Save Changes</button></div>
                                                    <div class="col-md-4"><a class="btn btn-secondary btn-sm float-end" href="/review_minutes/download/{{ meet_id }}" role="button">Download</a></div>
                                                  </div>
                                              </form>
                                              {{ ckeditor.load(pkg_type="basic") }}
                                              {{ ckeditor.config(name='content', width=400, height=500) }}
                                          </div>  <!-- Card Body End -->
                                        </div>
                                    </div>   <!-- First Card End -->
                                    <div class="col-md-5">  <!-- second Card -->
                                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                                          <div class="card-body">
                                              <form action="" method="post" novalidate>
                                                  {{ diary_form.hidden_tag() }}
                                                  <div class="form-group">
                                                    {{ diary_form.meeting_type_read_only.label }}
                                                    {{ diary_form.meeting_type_read_only }}
                                                  </div>
                                                  <div class="form-group">
                                                    {{ diary_form.diary_content }}
                                                  </div>

                                              </form>
                                              {{ ckeditor.load(pkg_type="basic") }}
                                              {{ ckeditor.config(name='diary_content', width=400, height=500) }}

                                              <br><br>
                                          </div>  <!-- Second Card Body End -->
                                        </div>
                                    </div> <!-- Second Card End -->

                                </div>   <!-- End Row -->
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
{% endblock %}